body {
    margin: 0;
    padding: 0;
    background: center center url("../img/pubg-background.png") #222222 fixed no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}

header {
    color: #222222;
    /*background-color: #222222;*/
    background: top left url("../img/yellow-background.jpg");
    padding: 1em;
}

.yellow {
    color: #F2AA00;
}

#players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
